{{ define "main" }}
<div class="container home">
  {{ with .Site.GetPage "/about" }}
  <section class="intro">
    <h1>{{ .Title }}</h1>
    <div class="content">{{ .Content }}</div>
  </section>
  {{ end }}

  <section class="posts">
    <h2>Posts</h2>
    {{ $pages := where .Site.RegularPages "Type" "posts" }}
    {{ range $pages }}
    <article class="post-item">
      <time>{{ .Date.Format "2006-01-02" }}</time>
      <div>
        <a href="{{ .RelPermalink }}">{{ .Title }}</a>
        {{ with .Params.tags }}
        <span class="post-tags">
          {{ range . }}
          <a class="tag" href="{{ "/tags/" | relURL }}{{ . | urlize }}">{{ . }}</a>
          {{ end }}
        </span>
        {{ end }}
      </div>
    </article>
    {{ end }}
  </section>
</div>
{{ end }}
